project:
  type: website
  render:
    - "*.qmd"
    - "*.Rmd"
    - "*.md"
    - "!README.md"
    - "!LICENSE.md"
    - "!myresources/"
    - "!certificate*"
  resources:
    - "files/"
  preview:
    port: 4321
    browser: true

execute:
  # Re-render only when source changes
  freeze: auto

description-meta: "Andreas Handel's personal website."

website:
  title: "Simon-Pierre Boucher"
  site-url: "https://www.andreashandel.com"
  repo-url: https://github.com/simonpierreboucher
  description: "Website of Simon-Pierre Boucher"
  favicon: /files/icon.png 
  twitter-card: 
    creator: "@spbou4"
  cookie-consent: true    
  search: true
  navbar:
    background: "#99ccff"
    logo: /files/logo.png
    left:
      - text: "About"
        file: about.qmd
      - text: "Teaching"
        file: teaching.qmd
      - text: "Research"
        file: research.qmd

  page-footer:
    left: |
      {{< fa regular copyright >}} Simon-Pierre Boucher, 2023<br>
      All content licensed under {{< fa brands creative-commons >}}
      {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-sa >}} {{< fa brands creative-commons-nc >}} [(CC BY-NC-SA 4.0)](http://creativecommons.org/licenses/by-nc-sa/4.0/)
      
    right: |
      Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org/)<br>
      Inspiration and code snippets taken from [these folks.](/posts/quarto-website-migration.html)<br>
      [Source at {{< fa brands github >}} GitHub](https://github.com/simonpierreboucher)


format:
  html:
    theme: 
      light: matria
      dark: slate
    css: customstyle.css 
    toc: true
